In [1]:
import pandas as pd

df = pd.read_csv("../data/job-titles-linkedin.csv")
df.head()

                        Job Titles
0        Android JobsSelect Region
1      Adventure JobsSelect Region
2   Architecture JobsSelect Region
3    Acquisition JobsSelect Region
4  Accommodation JobsSelect Region

In [2]:
len(df)

1237

In [3]:
tmp = df["Job Titles"][0]
job = tmp.split("JobsSelect")[0]
print(job)

Android

In [4]:
df["job"] = "dummy"
df.tail()

                                   Job Titles    job
1232                     3d JobsSelect Region  dummy
1233       1st Line Support JobsSelect Region  dummy
1234     6 Sigma Black Belt JobsSelect Region  dummy
1235           3rd Engineer JobsSelect Region  dummy
1236  3d Environment Artist JobsSelect Region  dummy

In [5]:
for i in range(len(df)):
    
    tmp = df["Job Titles"][i]
    job = tmp.split("JobsSelect")[0]
    
    df["job"][i] = job

In [6]:
df.tail()

                                   Job Titles                     job
1232                     3d JobsSelect Region                     3d
1233       1st Line Support JobsSelect Region       1st Line Support
1234     6 Sigma Black Belt JobsSelect Region     6 Sigma Black Belt
1235           3rd Engineer JobsSelect Region           3rd Engineer
1236  3d Environment Artist JobsSelect Region  3d Environment Artist

In [7]:
df.to_csv("../data/job-titles-linkedin-parsing-name.csv", index=False)